body{
	font-size: 12px;
	color:#797979;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
    background-attachment:fixed;
}
td{
	font-size:12px;
}
.query-table{
	margin:auto;
}
.query-table td{
    line-height: 32px;
    padding: 4px;
    vertical-align: middle;
}
.query-name{
    text-align: right;
    width: 80px;
}
.query-content{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
    padding: 0 14px;
    width: 213px;
}
img{
	border: medium none;
}
